/*Info about the author
name: Rainers Vorza
student ID number: rv20039
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    min-width: 1500px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration: none;
}

.line {
    position: relative;
    display: block;
    width: 30px;
    height: 2px;
    background: white;
    margin-top: 60px;
    margin-bottom: 20px;
}

.text-center { text-align: center; }

.upper { text-transform: uppercase; }

/* Top Menu
*/

.menu {
    position: fixed;
    width: 100%;
    background-color: rgba(14, 2, 35, 0.8);
    color: white;
    font-size: 1.2em;
    z-index: 999;
}

.parent-menu {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    margin-right: 40px;
}

.parent-menu .active { color: rgba(242, 177, 26, 0.8); }

.upper-menu {
    display: block;
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 40px;
}

.upper-menu:last-of-type {
    margin-left: auto;
    margin-right: 0;
}

.upper-menu:not(.btn):hover { color: rgba(242, 177, 26, 0.8); }

.sub-menu-caption:hover .sub-menu { display: block; }

.sub-menu {
    position: absolute;
    display: none;
    padding-top: 15px;
    margin-left: -15px;
    margin-top: -5px;
}

.sub-menu li {
    display: block;
    color: white;
    background-color: rgba(14, 2, 35, 0.8);
    padding: 15px 15px;
}

.sub-menu li:hover { color: rgba(242, 177, 26, 0.8); }

.sub-menu-caption .expand { display: inline; }

.sub-menu-caption .collapse { display: none; }

.sub-menu-caption:hover .expand { display: none; }

.sub-menu-caption:hover .collapse { display: inline; }

.upper-menu .btn {
    color: white;
    background-color: rgba(242, 213, 26, 0.8);
    border: 1px solid white;
    border-radius: 20px;
    padding: 7px 15px;
}

.upper-menu .btn:hover { background-color: rgba(242, 213, 26, 1); }


/* Main Section
*/

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../images/topimage.jpeg');
}

.header .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 2, 35, 0.5);
}

.title {
    position: absolute;
    vertical-align: bottom;
    color: white;
    font-size: 72px;
    bottom: 120px;
    right: 60px;
}

.meta {
    position: absolute;
    vertical-align: bottom;
    bottom: 20px;
    right: 60px;
}

.meta ul {
    position: relative;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 0.8rem;
}

.meta ul li {
    display: flex;
    align-items: center;
    border: 1px solid white;
    border-radius: 24px;
    margin-left: 30px;
    padding-right: 12px;
}

.meta ul li span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(242, 213, 26, 0.8);
    margin-right: 10px;
    border-radius: 24px;
    width: 48px;
    height: 48px;
}

.social {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: right;
    opacity: 80%;
    top: 90px;
    right: 40px;
}

.social h5 {
    font-size: 18px;
    color: white;
    opacity: 80%;
}

.social .social-btns { margin-left: 7px; }

.social .social-btns a { margin-left: 7px; }

.social .social-btns img {
    opacity: 60%;
    width: 25px;
    height: 25px;
}

.social .social-btns img:hover { opacity: 100%; }


/* Summary Section
*/

.section-summary {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
}

.section-summary > * {
    margin-left: 130px;
    margin-right: 130px;
}

.section-summary h2 {
    position: relative;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 50px;
}

.section-summary p {
    position: relative;
    color: rgb(132, 132, 132);
    font-size: 18px;
    line-height: 200%;
}

.section-summary .add span {
    font-style: italic;
}


/* Cast Section
*/

.section-cast {
    position: relative;
    color: white;
    height: 100vh;
    min-height: 680px;
    background-image: url('../images/car.jpg');
}

.section-cast .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(14, 2, 35, 0.8);
}

.section-cast .bg-overlay > * {
    margin-left: 130px;
    margin-right: 130px;
}

.section-cast .line {
    margin-left: auto;
    margin-right: auto;
}

.section-cast h4 {
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
}

.section-cast ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 19vh;
}

.section-cast img { height: 50vh; }

.section-cast ul li { position: relative; }

.section-cast .cast-head {
    position: absolute;
    top: 0px;
    background-color: rgb(242, 213, 26);
    font-size: 14px;
    color: white;
    opacity: 80%;
    padding: 7px 10px;
    margin-top: 10px;
    margin-left: 10px;
}

.section-cast .cast-text {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 3px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 20px;
}

.section-cast .cast-text h5 {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: rgb(42, 42, 42);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.section-cast .cast-text p {
    text-align: center;
    font-size: 14px;
    color: rgb(132, 132, 132);
    text-transform: uppercase;
}

.section-cast ul li:hover .cast-head { opacity: 100%; }

.section-cast ul li:hover .cast-text { background-color: rgb(242, 213, 26); }

.section-cast ul li:hover .cast-text h5 { color: white; }


/* Trailer Section
*/

.section-trailer {
    position: relative;
    height: 100vh;
    min-height: 950px;
}

.section-trailer h2 {
    color: black;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 80px;
    padding-bottom: 60px;
}

.section-trailer > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section-trailer > ul > li {
    display: flex;
    margin-right: 20px;
    margin-left: 20px;
}

.section-trailer > ul > li > ul {
    display: flex;
    flex-direction: column;
}

.section-trailer > ul > li > ul > li {
    margin-bottom: 20px;
}

.section-trailer > ul > li > ul > li:last-of-type {
    color: black;
    font-size: 18px;
    justify-content: center;
    margin-top: auto;
}

.section-trailer iframe {
    width: 1280px;
    height: 720px;
}


/* Tickets Section
*/

.section-tickets {
    position: relative;
    height: 300px;
    background-image: url('../images/cinema.png');
}

.section-tickets .bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 2, 35, 0.5);
}

.section-tickets .bg-overlay > * {
    margin-left: 130px;
    margin-right: 130px;
}

.section-tickets .line {
    margin-left: auto;
    margin-right: auto;
}

.section-tickets h4 {
    position: relative;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 60px;
}

.section-tickets .btn {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    background-color: rgba(242, 213, 26, 0.8);
    border: 1px solid white;
    border-radius: 32px;
    padding: 10px 20px;
}

.section-tickets .btn:hover {
    background-color: rgba(242, 213, 26, 1);
}


/* Footer
*/

.section-footer { position: relative; }

.section-footer ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px auto;
}

.section-footer ul li {
    display: flex;
    color: rgb(136, 136, 136);
    font-variant-caps: small-caps;
    text-decoration: none;
    border-right: 1px solid rgb(181, 181, 181);
    height: 15px;
    padding-top: 3px;
    padding-right: 10px;
    margin-right: 10px;
}

.section-footer ul li:last-of-type { border-right: none; }

.section-footer ul li:hover {
    color: rgb(14, 2, 35);
    text-decoration: underline;
}